/*font-family: 'Source Sans Pro', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/banner.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    position: relative;
    padding: 0;

}
.navbar-light .navbar-nav .nav-item{
    padding: 0 13px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    bottom: -6px;
    right: 0;
    height: 2px;
    width: 0;
    background: #008ed6;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 47%;

}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 47%;
    
}
.banner-content{
    min-height:90vh;
    align-items: center;
    position: relative;
}
.banner-content h5{

color: #008ed6;

text-transform: uppercase;

font-weight: 700;

font-size: 17px;

letter-spacing: 3px;

font-family: 'Source Sans Pro', sans-serif;

margin-bottom: 20px;
}
.banner-content h1{

color: #fff;

font-weight: 500;

font-family: 'Source Sans Pro', sans-serif;

margin-bottom: 25px;
}
.banner-content p{

color: #999999;

font-family: 'Source Sans Pro', sans-serif;

font-weight: 400;

margin-bottom: 75px;
}
.btn-download{

color: #fff;

background: #008ed6;

padding: 16px 25px;

text-transform: uppercase;

font-weight: 600;

font-size: 14px;

letter-spacing: 1px;

border-radius: 5px;

font-family: 'Source Sans Pro', sans-serif;
}
.btn-features{
    
color: #fff;
    
/* background: #008ed6; */
    
padding: 16px 25px;
    
text-transform: uppercase;
    
font-weight: 600;
    
font-size: 14px;
    
letter-spacing: 1px;
    
border-radius: 5px;
    
border: 1px solid #4d4d53;
    
margin-left: 35px;
    
font-family: 'Source Sans Pro', sans-serif;
}
.btn-download:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #4d4d53;
}
.btn-features:hover{
    color: #fff;
    background:#008ed6 ;
    border-color: transparent;
}
.phone{

position: absolute;

bottom: 0;

left: 58%;

width: 50%;
}
.phone img{
    
}
.heading{

}
.heading h5{
    color: #008ed6;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 15px;
}
.heading h1{
    color: black;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.heading span{
    display: inline-block;
    height: 2px;
    width: 70px;
    position: relative;
    
}
.heading span::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background: #008ed6;
    left: 0;
    top: 0;
    transition: .4s all ease-in-out;

}
.heading span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background: #008ed6;
    right: 0;
    top: 0;
    transition: .4s all ease-in-out;
}
.features_section {

}
.features_section:hover .heading span::before{
    width: 45%;

}
.features_section:hover .heading span::after{
    width: 45%;
}
.features_item{

}
.features_item h2{

margin-bottom: 25px;
}
.features_item p{

color: #999999;

font-weight: 400;
}
.icon-box{

height: 67px;

width: 67px;

border: 1px solid #c5bdbd;

border-radius: 50%;

line-height: 67px;

font-size: 25px;

color: #0b93d8;

margin: auto;

margin-bottom: 50px;
}



